name: Tasklist Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  tasklist_update:
    name: Update tasklist
    runs-on: ubuntu-latest
    container: fedora:latest
    

    steps:
      - run: id -u
      - run: ls -la
      - name: Get current date
        run: echo "DATE=$(date -u +'%Y-%m-%d %H:%M')" >> $GITHUB_ENV

      - name: Install dnf config-manager
        run: dnf install -y 'dnf-command(config-manager)'

      - name: Add github-cli repo
        run: dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo

      - name: Install dependencies
        run: dnf install -y git python3 gh

      - name: Setup github-cli
        run:  |
          gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"
          gh auth setup-git

      # - name: Weird git config (otherwise it refuses to cooperate)
      #   run: git config --global --add safe.directory /__w/test/test

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check pr
        id: pr_check
        run: |
          tmp="$(mktemp)"
          gh pr list -s open -H tasklist-update -l auto-tasklist-update --json number --jq .[].number > $tmp
          cnt="$(wc -l $tmp | cut -f1 -d' ')"
          if [[ $cnt -gt 1 ]]; then
            exit 1
          elif [[ $cnt -eq 1 ]]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create new branch
        if: ${{ ! fromJSON(steps.pr_check.outputs.exists) }}
        run: |
          git checkout -B tasklist-update
          git push -u origin tasklist-update -f
      
      - name: Checkout tasklist branch
        if: ${{ fromJSON(steps.pr_check.outputs.exists) }}
        run: git checkout tasklist-update
      
      - name: Run update script
        run: python3 scripts/update_tasklist

      - name: Get bot details
        id: bot_details
        uses: raven-actions/bot-details@v1.0.1

      - name: Create PR
        id: create_pr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          add-paths: README.md
          commit-message: "tasklist update -> ${{ env.DATE }}"
          committer: ${{ steps.bot_details.outputs.name-email }}
          author: ${{ steps.bot_details.outputs.name-email }}
          branch: tasklist-update
          delete-branch: true
          base: main
          title: "Automatic tasklist update -> ${{ env.DATE }}"
          body: "This is an automatic tasklist update by the tasklist-update workflow."
          labels: auto-tasklist-update
          assignees: tokox
          reviewers: tokox
      
      - name: Print result
        run: |
          echo "PR was ${{ steps.create_pr.outputs.pull-request-operation }}"
          echo "PR #${{ steps.create_pr.outputs.pull-request-number }}"
          echo "PR URL: ${{ steps.create_pr.outputs.pull-request-url }}"
